<div class='gallery'>
    <div class='content-img'>
        <img class="img" [src]='pictures[currentIndex]' />
        <span (click)="handlePrev()" class="prev" >
            <img  src='../../assets/multimedia-option.png' />
        </span>
        <span (click)="handleNext()" class="next">
            <img src='../../assets/basic-app.png' />
        </span>
    </div>
    <div>
        <ul class="container-img">
            <li *ngFor="let picture of pictures; let i = index"
                [class.active]="currentIndex === i" 
                class='img-thumb'>
                    <img 
                        (click) = "handleClick(i)" 
                        class="img" [src]="picture" />
            </li>
            
        </ul>
    </div>
</div>

